:root {
  --font-family: 'Roboto';
  --body-font-size: 16px;
  --body-line-height: 20px;
  --body-font-weight: 400;

  --container-width: 1170px;

  --color-dark-grey: #2d2d2d;
  --color-light-grey: #7b7b7b;
  --color-dark-blue: #1c629e;
  --color-dark-light-blue: #b1cefa;
  --color-red: #e0595d;
  --color-yellow: #ffcf62;
  --color-green: #04b19e;
}
