<div class="header-top">
  <app-container>
    <div class="header-top__container">
      <button class="city-button">
        <img src="images/city-icon.svg" alt="" />
        <span class="city-button__text">Paris</span>
      </button>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a
              class="nav-item__link"
              routerLinkActive="nav-item__link--active"
              routerLink="/shopping-payment"
            >
              Shopping payment
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-item__link"
              routerLinkActive="nav-item__link--active"
              routerLink="/about"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-item__link"
              routerLinkActive="nav-item__link--active"
              routerLink="/catalog"
              >Catalog</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-item__link"
              routerLinkActive="nav-item__link--active"
              routerLink="/contacts"
              >Contacts</a
            >
          </li>
        </ul>
      </nav>

      <div class="user">user</div>
    </div>
  </app-container>
</div>
